@page "{tagName}"
@model IntranetCore.WebClient.Pages.Tags.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete @Model.Tag.Nombre</h1>

@if(Model.Message != null) {
    <div class="alert alert-warning">@Model.Message</div>    
}

<div class="alert alert-danger">Are you sure you want to delete @Model.Tag.Nombre?</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Yes</button>
    <a asp-page="./List" class="btn btn-secondary">Cancel</a>
</form>



