@page "{tagName}"
@model IntranetCore.WebClient.Pages.Tags.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>@Model.Tag.Nombre</h1>


@if (!string.IsNullOrEmpty((string)TempData["Message"]))
{
<div class="alert alert-success alert-dismissible" role="alert">
    @TempData["Message"].ToString()
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}


<div>
    Color: @Model.Tag.HexColor
</div>
<div>
    Last Modified: @Model.Tag.FechaUltimaModificacion
</div>

<a asp-page="./List" class="btn btn-secondary">Back to Tags</a>

